{% extends 'base.html' %}

{% block content %}

<div>

    {% if user.is_authenticated %}
    <div class="container">
  <!-- Content here -->

    <h3 class="mb-4 pb-2 fw-normal">Сохраненные локации</h3>
        <div>
            {% for item in location_data %}
              <div>
<!--                <section class="vh-100">-->
              <div class="container py-4 h-100">
<!--                <div class="row d-flex justify-content-center align-items-center h-100">-->
                  <div class="col-md-8 col-lg-6 col-xl-4">
                    <div class="card shadow-0 border">
                      <div class="card-body p-4">
                        <h4 class="mb-1 sfw-normal">{{ item.name }}, US</h4>
                        <div class="d-flex flex-row align-items-center">
                          <p class="mb-0 me-4">Scattered Clouds</p>
                          <i class="fas fa-cloud fa-3x" style="color: #eee;"></i>
                        </div>
                        <p>Lon: <strong>{{ item.longitude }}</strong>, lat: <strong>{{ item.latitude }}</strong></p>
                      </div>
                        <div>
                            <form method="post" action="{% url 'weather:delete_data' item.pk %}">
                                 {% csrf_token %}
                             <button type="submit" class="btn btn-outline-danger">Удалить</button>
                            </form>
                        </div>

                    </div>
                  </div>
                </div>
<!--              </div>-->
            </section>
            </div>
            {% endfor %}
        </div>
        </div>
    {% else %}
    <div style="text-align: center;">
        <h1 >Чтобы начать войдите в аккаунт или зарегестрируйтесь</h1>
        <a type="button" class="btn btn-primary btn-sm" href="{% url 'users:login' %}">Войти</a> | <a type="button" class="btn btn-secondary btn-sm"   href="{% url 'users:register' %}">Регистрация</a>
    </div>
        {% endif %}
</div>
{% endblock %}